################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EDA-WORMS/.vs/EDA-WORMS/v14
